

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: grid;
  place-items: center;
  font-size: 12px;
}
span {
  font-weight: bolder;

}
.player-container {
  height: 575px;
  width: 400px;
  padding-bottom: 100px;
  background: lightcyan;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(10,10,10,0.3);

}

.img-container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;

}

.img-container img {
  transform: translateY(-25%);
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(10,10,10,0.5);
}
.author-container {
    transform: translateY(-90px);

}
h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

.volume-slider-con{
  height:10px;

  width: 50%;
  position:relative;
  background-color:#ddd;
  margin: 1rem 2em;
}


/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem auto;
  height: 10px;
  width: 90%;

}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: all 0.1s linear;
}

.duration-wrapper {
  transform: translateY(10px);
  display: flex;
  justify-content: space-between;

}

/* Controls */
.player-controls {

  display: flex;
  justify-content: space-around;
  cursor: pointer;
  user-select: none;

}

.controls {
  font-size: 30px;
  color: goldenrod;
  transform: scale(1);
}
.controls:hover {
 filter: brightness(80%);
}
.controls:active {
transform: scale(.85);
}

/* Volume stuff*/
#vol-control-div {
  margin: 0 1rem;
}
#vol-control-div::after {
  content: 'Volume';
  color: rgb(23, 97, 235);
  font-size: 1rem;
  margin-left: 3px;
  display: block;
  font-weight: bolder;

}
#vol-control {
  transform: translateY(.5turn);
}
/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 80vw;
  }
  .img-container img {
    width: 80%;
  }
  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}

@media screen and (orientation: landscape) {
  .player-container {
    transform: rotate(90deg);
      max-height: 80vw;
      width: 400px;
  }
  .img-container {
    transform: rotate(-90deg) translateY(-50px) translateX(-75px)
  }
  .img-container img {
      height: 250px;
      transform: translateX(-30px) translateY(-70px) scale(.85)
  }
 .progress-container  {
    transform: rotate(270deg) translateX(220px) translateY(125px)

  }
  .player-controls {
    transform: rotate(270deg) translateY(175px) translateX(265px)

  }
  #vol-control-div {
  transform: rotate(270deg) translateY(85px) translateX(165px)
  }

  h2 {
    transform: rotate(270deg) translateX(-5px)

  }
  h3 {
    transform: rotate(270deg) translateY(85px) translateX(-15px)
  }
  #artist {
    transform: translateX(30px) translateY(-120px) rotate(270deg)
  }

  #rank {
    transform: rotate(270deg) translateY(60px) translateX(140px);
  }
  #title {
    transform: translateY(-80px) rotate(270deg)
  }

  .author-container {
    transform: translateX(-67%) translateY(265px);
  }
}
