

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.player-container {
  height: 500px;
  width: 400px;
  background: lightblue;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(10,10,10,0.3);
}


.img-container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;

}

.img-container img {
  transform: translateY(-50px);
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(10,10,10,0.5);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}
/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem auto;
  height: 10px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 66%;
  transition: width 0.1s linear;
}

.duration-wrapper {

  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

/* Controls */
.player-controls {

  display: flex;
  justify-content: space-around;
  cursor: pointer;
  user-select: none;
}

.controls {
  font-size: 30px;
  color: goldenrod;
  transform: scale(1);
}
.controls:hover {
 filter: brightness(80%);
}
.controls:active {
transform: scale(.85);
}



/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
